[Unit]
Description=Ethereum go client
After=network.target 
Wants=network.target

[Service]
{% if not ethv_docker %}
User=goeth
Group=goeth
{% endif %}
Type=simple
Restart=always
RestartSec=5
DefaultTimeoutStopSec=600
{% if ethv_10_net|length %}
ExecStart=geth --{{ ethv_10_net }} --http --datadir /var/lib/goethereum
{% else %}
ExecStart=geth --http --datadir /var/lib/goethereum
{% endif %}

[Install]
WantedBy=default.target
