[Unit]
Description=Ethereum go client
After=network.target 
Wants=network.target

[Service]
{% if not ethv_docker %}
User=goeth
Group=goeth
{% endif %}
Type=simple
Restart=always
RestartSec=5
TimeoutStopSec=600
{% if ethv_10_net|length %}
ExecStart=geth --maxpeers={{ ethv_10_maxpeers }} --cache={{ ethv_10_cache }} --metrics --pprof --{{ ethv_10_net }} --http --datadir=/var/lib/goethereum
{% else %}
ExecStart=geth --maxpeers={{ ethv_10_maxpeers }} --cache={{ ethv_10_cache }} --metrics --pprof --http --datadir=/var/lib/goethereum
{% endif %}

[Install]
WantedBy=default.target
