[Unit]
Description=Prysm Beaconchain
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
{% if not ethv_docker %}
User=prysm-beaconchain
Group=prysm-beaconchain
{% endif %}
Restart=always
RestartSec=5
{% if ethv_10_fallback_http_provider != "" %}
ExecStart={{ ethv_prysm_beacon_chain_binary }} --{{ ethv_20_net }} --datadir=/var/lib/prysm/beaconchain --http-web3provider={{ ethv_10_http_provider }} --fallback-web3provider={{ ethv_10_fallback_http_provider }} --p2p-max-peers={{ ethv_prysm_beacon_chain_maxpeers }} --accept-terms-of-use
{% else %}
ExecStart={{ ethv_prysm_beacon_chain_binary }} --{{ ethv_20_net }} --datadir=/var/lib/prysm/beaconchain --http-web3provider={{ ethv_10_http_provider }} --p2p-max-peers={{ ethv_prysm_beacon_chain_maxpeers }} --accept-terms-of-use
{% endif %}

[Install]
WantedBy=multi-user.target
