[Unit]
Description=Validator
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
{% if not ethv_docker %}
User=prysm-validator
Group=prysm-validator
{% endif %}
Restart=always
RestartSec=5
ExecStart={{ ethv_validator_binary }} --{{ ethv_prysm_net }} --datadir /var/lib/prysm/validator --wallet-dir /var/lib/prysm/validator --wallet-password-file /var/lib/prysm/validator/validatorpassword.txt --graffiti "{{ ethv_graffiti }}" --accept-terms-of-use

[Install]
WantedBy=multi-user.target
