[Unit]
Description=Prysm Beaconchain
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
{% if not ethv_docker %}
User=prysm-beaconchain
Group=prysm-beaconchain
{% endif %}
Restart=always
RestartSec=5
ExecStart={{ ethv_prysm_beacon_chain_binary }} --{{ ethv_20_net }} --datadir=/var/lib/prysm/beaconchain --http-web3provider={{ ethv_10_http_provider }} --accept-terms-of-use

[Install]
WantedBy=multi-user.target
